$table-width: 80vw;

$grey: #2a2a2a;
$red: #c40022;

$header-font: 'Khand', 'Helvetica', sans-serif;
$main-font: 'Open Sans', 'Helvetica', sans-serif;

$id-width: 8%;
$user-width: 8%;
$title-width: 24%;
$body-width: 60%;

@mixin fullcell($bg, $color) {
  padding: 0;
  height: 110px;
  span {
    font-family: $header-font;
    font-size: 1.3em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $color;
    background-color: $bg;
    height: 100%;
    width: 100%;
  }
}

@mixin circle($bg, $color) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $header-font;
    font-size: 1.3em;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    background: $bg;
    color: $color;
  }
}
