@import '../variables.scss';

.wrapper {
  height: 80vh;
  width: $table-width;
  @media screen and (max-width: 900px) {
    width: 99vw;
    overflow-x: scroll;
    table {
      min-width: 800px;
    }
  }
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  background: white;
  border: 3px solid $grey;
  thead {
    tr {
      background: $grey;
    }
  }
  tbody {
    height: 100%;
    overflow-y: scroll;
    display: block;
    &::-webkit-scrollbar {
        width: 0.5em;
    }
    &::-webkit-scrollbar-thumb {
      background: $red;
    }
  }
  th, td {
    vertical-align: center;
    padding: 10px;
  }
}

.loading {
  width: 100%;
}
